html {
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

:root{
  --text-size-king: 26px;
  --text-size-hard: 22px;
  --text-size-big: 20px;
  --text-size-normal: 18px;
  --text-size-small: 14px;
  --text-size-tiny: 12px;

  --opacity-default: .8;
  --opacity-overflow: .6;
  --opacity-disabled: .5;
}
